<a class="item">
Home
</a>
<div class="right menu">
    <div class="ui simple dropdown item">
        Account <i class="dropdown icon"></i>
        <div class="menu">
            <a class="item">Favourites</a>
           
            <a class="item">Logout</a>
            
        </div>
    </div>
    
    
        <div class="item">
            <div class="ui primary button">Sign Up</div>
        </div>
</div>